* { box-sizing: border-box; }

a {
  text-decoration: none;
  color: rgb(42,42,108);
}
a:hover {
  text-decoration: underline;
  color: rgb(42,42,124);
}

.list-item {
box-align: center;
box-direction: normal;
box-orient: horizontal;
font-smoothing: antialiased;
align-items: center;
box-sizing: border-box;
color: rgb(68, 68, 68);
display: flex;
flex-direction: row;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
}
.list-tile-left {
font-smoothing: antialiased;
box-sizing: border-box;
color: rgb(68, 68, 68);
display: block;
height: 84px;
min-width: 56px;
}
.list-tile-content {
-webkit-box-flex: 1;
-webkit-font-smoothing: antialiased;
border-bottom-color: rgb(238, 238, 238);
border-bottom-style: solid;
border-bottom-width: 1px;
box-sizing: border-box;
color: rgb(68, 68, 68);
display: block;
flex-basis: 0px;
flex-grow: 1;
flex-shrink: 1;
padding-bottom: 15px;
padding-left: 0px;
padding-right: 0px;
padding-top: 15px;
text-overflow: ellipsis;  
}
.list-tile-content h2 {
font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
margin: 0 0 3px;
font-weight: 400;
font-size: 1.5em;
}
.list-tile-content p {
margin: 0 0 3px;
font-size: 1em;  
}

.list-tile-left .icon {
font-size: 2em;
position: relative;
top: .5em;
}


* {
  box-sizing: border-box;
}

.top-row {
    margin: .5em auto;
    border-bottom: 1px solid #b6b6b8;
    box-shadow: 0 6px 18px -12px rgba(0,0,0,.3);
}

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

/* Form wrapper styling */
.form-wrapper {
  margin: 1em 0;
  border: 1px solid #888;
  padding: 0;
  box-shadow: 1px 1px 5px -4px rgba(81, 203, 238, 1)
}
 
/* Form text input */
.form-wrapper input {
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: .5em;
  padding-left: 2.5em!important;
  width: 100%;
  border: 1px solid transparent;
  margin: 0;
  box-sizing: border-box;
  background: #f6f6f6;
  color: #222;
  transition: background-color 0.5s ease;
  display: inline-block;
  position:relative;
}
.form-wrapper .icon {
  display: inline-block;
  position:absolute;
  font-size: 1.5em;
  top: 50%;
  margin-top: -.6em;
  left: 1.2em;
  z-index: 4;
  color: #888;
}

.form-wrapper input:focus ~ .icon {
  color:#444;
}

.form-wrapper input:focus {
  background: #fff;
  border: 1px solid #fff;
  box-shadow: inset 1px 1px 8px -3px rgba(81, 203, 238, .5),
  0px 5px 15px -3px rgba(181, 203, 238, .3);  
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
.pager {
    border-top: 1px solid #d83c3c; 
    margin: 2em 0;
}

blockquote {
  border-left: 2px solid #f00;
  margin: 0;
  padding: .5em 1em;
}
